.container-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn-link.add {
    text-decoration: underline;
}

.btn.remove {
    color: red;
    text-decoration: underline;
}

.title-map-info {
    display: flex;
    justify-content: space-between;
}

.info-map {
    margin: 10px;
}

.map {
    margin: 20px;
}